[submodule "Surelog"]
	path = Surelog
	url = https://github.com/alainmarcel/Surelog.git
[submodule "uhdm-integration"]
	path = uhdm-integration
	url = https://github.com/antmicro/uhdm-integration.git
[submodule "vcddiff"]
	path = vcddiff
	url = https://github.com/veripool/vcddiff.git
[submodule "verilator"]
	path = verilator
	url = https://github.com/antmicro/verilator.git
[submodule "sv2v"]
	path = sv2v
	url = https://github.com/zachjs/sv2v.git
