[submodule "Surelog"]
	path = Surelog
	url = https://github.com/alainmarcel/Surelog.git
[submodule "uhdm-integration"]
	path = uhdm-integration
	url = https://github.com/alainmarcel/uhdm-integration.git
[submodule "sv2v"]
	path = sv2v
	url = https://github.com/zachjs/sv2v.git
[submodule "yosys-symbiflow-plugins"]
	path = yosys-symbiflow-plugins
	url = https://github.com/SymbiFlow/yosys-symbiflow-plugins.git
